.post {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 8px;
  padding: 8px;
}

.postFiled {
  display: flex;
  gap: 8px;
}

.imgPost {
}

.imgPostNone {
  background-color: MediumSeaGreen;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 0;
}

.textPost {
  border: 1px solid MediumSeaGreen;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.postOptions {
  display: flex;
  gap: 16px;
}

.likePost {
  display: flex;
}

.likeIconPost {
  cursor: pointer;
  margin-right: 4px;
}

.countLikes {
  color: #777;
  display: block;
  line-height: 130%;
}
