.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "friends messages" "textarea textarea";
}

.dialogsItems {
  display: block;
  grid-area: friends;
  & .active {
    color: goldenrod;
  }
}

.messages {
  display: block;
  grid-area: messages;
}

.textarea {
  grid-area: textarea;
  padding-left: 16px;
  padding-right: 88px;
}
