.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  display: block;
  & .active {
    color: goldenrod;
  }
}

.item {
  display: block;
}

.messages {
  display: block;
}

.dialog {
  display: block;
}

.link {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

.activeLink {
  color: gold;
  font-size: 1.2rem;
  text-decoration: none;
}
